*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/commons-persistence/build/
/commons-persistence/dist/
/GUI/nbproject/private/
/GUI/build/
/GUI/dist/
/commons-rss/build/
/commons-rss/dist/